# Overall Picture 
```
Programs                           
 └──Modules                                                     
     └──Statements                                
         └──Expressions
```

# Expressions and Evaluation

Expressions create and process objects. In an informal sense, 
>"we do **things** with **stuffs**"

In [1]:
2 + 2

* “Things” take the form of **operations** such as addition and concatenation.
* “Stuffs” refer to the **objects** on which we perform those operations.
* Expressions get evaluated and produce a value (object).

> everything is an **object** in a Python script.

Objects are essentially just pieces of memory, with values and sets of associated oper- ations.

# Object Types

Here we go over some of the Python's core date types. Although this is not complete because everything we process in Python programs is a kind of object, they will suffice for our course.
```
Object Types
       ├──Numbers
       ├──String
       ├──Lists
       ├──Tuples
       ├──Dictionaries
       └──Sets
```

## Numbers

* integers
* floating-point numbers
* complex numbers

In [2]:
365 + 10

In [3]:
3.3 * 5

16.5

### Operations involving mixed types

Python first converts operands up to the type of the
most complicated operand, and then performs the math on same-type operands

In [4]:
200+1.3

201.3

In [5]:
5*(1+3)/(6-1)

4.0

In [6]:
type(1 + 3j)

complex

### More operations

In [7]:
4**2 # ** are used for exponentiation.

16

In [8]:
round(3.14153, 3)

3.142

In [9]:
pow(2, 5) # 2**5

32

In [10]:
abs(-1.5)

1.5

In [11]:
5 % 2 # modulo operation

1

In [12]:
5 // 2 # floor division which truncates the result down to its floor, 
       # which means the closest whole number below the true result.

2

In [13]:
5//-2 # why?

-3

In [14]:
5 >= 2 # <, >, <=, >=

True

In [15]:
5 == 5 # ==, !=

True

In [16]:
5 > 4 >3

True

In [17]:
5 > 4 and 5 > 3 # and, or

True

In [18]:
5 == 6 or 5 < 6

True

More from the **math** modules. 

> **modules** are just packages of additional tools that we import to use.

In [19]:
import math

In [20]:
math.pi

3.141592653589793

In [21]:
math.exp(1)

2.718281828459045

In [22]:
math.sqrt(2)

1.4142135623730951

### Booleans

Boolean type, **bool**, is numeric in nature because its two values, **True** and **False**, are just customized versions of the integers 1 and 0 that print themselves differently.

In [23]:
type(True)

bool

In [24]:
True == 1

True

In [25]:
True + 5

6

In [26]:
True + False

1

## Strings

* Strings are used to record both textual information.
* strings are sequences of one-character strings.
* They are our first example of what in Python we call a **sequence**—a positionally ordered collection of other objects. 
* Their items are stored and fetched by their relative positions

In [27]:
"Hello"

'Hello'

In [28]:
'world'

'world'

In [29]:
S = 'Python'

The above is an assignment statement that assigns string 'Python' to variable named 'S'. We will talk more about statement later. The equals sign is doing something (assignment) rather than describing something (equality). 

The right side of = is an expression that gets evaluated first. Only later does the assignment happen. If the left side of the assignment is a variable name that already exist, it is overwritten. If it doesn’t already exist, it is created.

### Sequence Operation
#### Indexing

In [30]:
len(S) # length of S

6

In [31]:
S[0] # String indexing in Python is zero-based

'P'

In [32]:
S[2]

't'

Negative indices count backwards from the end of the list

In [33]:
S[-1] # The last item from S

'n'

In [34]:
S[-2]# The second last item from S

'o'

<img src="python-string.png"
     align="left"
     width = 500/>

To fetch multiple items, the general form is `S[I:J]`, which will give us items from the (I+1)th position up to but **not** including the (J+1)th position, so from (I+1)th to J.

In [35]:
S[2:5] # give us from 3th to 5th

'tho'

In [36]:
S[1:] # from 2nd to the last

'ython'

In [37]:
S[:4] # same as S[0:4], from the beginning up to 4th

'Pyth'

In [38]:
S[:-1] # Everything but the last

'Pytho'

In [39]:
S[::2] # from the beginning to the end with step of 2

'Pto'

In [40]:
S[::-3] # from the end to the beginning with step of 3

'nt'

#### concatenation

In [41]:
'Hello' + 'world'

'Helloworld'

In [42]:
S + 'xyz'

'Pythonxyz'

#### repetition

In [43]:
'Hello'*4

'HelloHelloHelloHello'

> Notice the '+' and '*' mean different things for different objects. This is called **polymorphism**, which is the meaning of an operation depends on the objects being operated upon.

Those string operations (indexing, concatenation and repetition) we have seen so far is really **sequence operation**, that is they also work on other sequences in Python as well, including **lists** and **tuples**.

### string type specific operations

In [44]:
S.find("y") # find index of y

1

In [45]:
S.replace('th', 'ht')

'Pyhton'

In [46]:
S

'Python'

> Notice the original string S was not changed. The `.replace` operation just create new string as result. This is because the string is immutable, which we will talk about later.

In [47]:
line = 'aaa,bbb,sss'
line.split(",") # Split on a delimiter into a list of substrings

['aaa', 'bbb', 'sss']

In [48]:
S.upper() # Upper- and lowercase conversions

'PYTHON'

In [49]:
line = 'aaa,bbb,ccccc,dd\n'
line.rstrip() # Remove whitespace characters on the right side

'aaa,bbb,ccccc,dd'

There are many more yet to be covered. Use `dir(S)` to see all the attributes and functions for object type associated with variable S (string) here.

In [50]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
help(S.zfill)

Help on built-in function zfill:

zfill(width, /) method of builtins.str instance
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

## Lists

> The Python list object is the most general **sequence** provided by the language. Lists are positionally ordered collections of **arbitrarily** typed objects, and they have no fixed size.

In [52]:
L = [1, 2, 'Python', 2.22, 3.14]

In [53]:
L.remove(2)
L

[1, 'Python', 2.22, 3.14]

### Sequence Operations

Because they are sequences, lists support all the sequence operations we discussed for strings; the only difference is that the results are usually lists instead of strings

In [54]:
len(L)

4

In [55]:
L[1]

'Python'

In [56]:
L[2:4]

[2.22, 3.14]

In [57]:
L[::2]

[1, 2.22]

In [58]:
L[::-2]

[3.14, 'Python']

### List Type-Specific Operations

#### append

append method expands the list’s size and inserts an item at the end

In [59]:
L.append(1) 
L

[1, 'Python', 2.22, 3.14, 1]

#### pop

pop method removes an item at a given index and return the value that is removed.

In [60]:
L.pop(-1)

1

#### insert

insert method insert an item at any given position

In [61]:
L.insert(2, 'hello')
L

[1, 'Python', 'hello', 2.22, 3.14]

#### remove

remove method removes a value in a list.

In [62]:
L.remove('hello')
L

[1, 'Python', 2.22, 3.14]

#### sort

Sort method sort a list.

In [63]:
help(L.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [64]:
L_number = [1, 7, 5, 6, 2, 3]
L_number.sort()
L_number

[1, 2, 3, 5, 6, 7]

In [65]:
L_number.sort(reverse=True)
L_number

[7, 6, 5, 3, 2, 1]

#### Nesting

You can nest a list in another list

In [66]:
M = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### List Compressions

List Compressions is useful if you want to create a new list based on an existing list

`newlist = [expression for item (can be anything) in iterable (existing list name) if condition == True]`

In [67]:
new_L_number = [item for item in L_number if item > 3] # get all the items in L_number that are greater than 3
new_L_number

[7, 6, 5]

In [68]:
second_item = [stuff[1] for stuff in M] # get the second item from each nested list from M and create a new list
second_item

[2, 5, 8]

#### range

`range(start, stop, step)` is a Python built-in that generate successive integers, and requires a surrounding list to display all its values

In [69]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [70]:
list(range(10)) # default is start from 0, to 10 (not including) - [start, stop) half open

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(-10, 10, 2)) # from 1 to 10 (not including) with step of 2

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [72]:
[[item+1, item+2] for item in range(-10, 10, 2) if item > 0]

[[3, 4], [5, 6], [7, 8], [9, 10]]

## Tuples

The tuple object is roughly like a list that cannot be changed—tuples are sequences, like lists, but they are immutable, like strings.

In [73]:
T = (1, 2, 3, 4)

In [74]:
T + (2, 3)

(1, 2, 3, 4, 2, 3)

In [75]:
len(T)

4

In [76]:
T[1]

2

In [77]:
T.append(3) # error

AttributeError: 'tuple' object has no attribute 'append'

## Dictionaries

* Dictionaries are not sequences because they have no fixed ordering. 
* Dictionaries are also collections of other objects, but they store **key:value** pairs. 
* Dictionaries are coded in curly braces and consist of a series of “key: value” pairs.
* The name comes from the idea that in a real dictionary (book), a word (the key) allows you to find its definition (the value).
* Dictionaries are useful anytime we need to associate a set of values with keys—to describe the properties of something

### Creating a dictionary

In [78]:
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'} # key and pairs can be any type, but the keys have to be unique.

To fetch the values, instead of using the index, we need to use keys.

In [79]:
D['food']

'Spam'

### Creating a dictionary by starting with an empty Dictionary

In [80]:
D = {} # creating an empty dictionary

In [81]:
D = dict() # another way of creating an empty dictionary

In [82]:
D['name'] = 'Tom'
D['job'] = 'engineer'
D['age'] = 40
D

{'name': 'Tom', 'job': 'engineer', 'age': 40}

### Nesting in dictionary

In [83]:
Player1 = {'name': {'first': 'Lebron', 'last': 'James'},
'teams': ['Cavaliers', 'Heats', 'Lakers'],
'age': 37}

In [84]:
Player1['name']['first']

'Lebron'

In [85]:
Player1['teams'][0]

'Cavaliers'

### Test if a given key is in a dictionary

In [86]:
D = {'a':1, 'b':2, 'c':3}

In [87]:
D['f']

KeyError: 'f'

In [88]:
'f' in D

False

In [89]:
list(D.items()) # get all the key-value pairs as tuples

[('a', 1), ('b', 2), ('c', 3)]

In [90]:
list(D.keys())

['a', 'b', 'c']

In [91]:
list(D.values())

[1, 2, 3]

In [92]:
for key, value in D.items():
    print('Values corresponding to key', key, "is", value)

Values corresponding to key a is 1
Values corresponding to key b is 2
Values corresponding to key c is 3

## Sets

* Sets correspond to our notion of sets in math. They are collections of objects **without** duplicates.
* As with dictionaries, set is also nonsequential collections.

### Creating a set

In [93]:
S = {2, 3, 1, 4, 2, 1}
S

{1, 2, 3, 4}

### Creating a set by starting with an empty set

In [94]:
S = set()

In [95]:
S.add(2)
S.add(3)
S.add(1)
S.add(4)
S.add(2)
S.add(1)
S

{1, 2, 3, 4}

In [96]:
S.update({5, 6})
S

{1, 2, 3, 4, 5, 6}

In [97]:
S.remove(6)
S

{1, 2, 3, 4, 5}

### Set operation

In [98]:
S1 = {2, 3, 1, 4, 2, 1}
S2 = {2, 5, 6}

In [99]:
S1 & S2 # intersection

{2}

In [100]:
S1 | S2 # union

{1, 2, 3, 4, 5, 6}

In [101]:
S1 - S2 # difference

{1, 3, 4}

In [102]:
S1 > S2 # superset?

False

### Why sets?

#### Filtering out duplicates out of other collections.

In [103]:
L = [1, 2, 1, 3, 2, 4, 5]
L = list(set(L))
L

[1, 2, 3, 4, 5]

#### Isolate differences in lists, strings, and other iterable objects

In [104]:
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

#### Real examples

In [105]:
engineers = {'bob', 'sue', 'ann', 'vic'}
managers = {'tom', 'sue'}

In [106]:
'bob' in engineers # Is bob an engineer?

True

In [107]:
engineers & managers # Both engineers and managers

{'sue'}

How to find engineers who are not managers?

## Mutable and Immutable

Before giving the difinition, let's first do some experiments

In [108]:
S = 'Python' # string
S[2] = "h"

TypeError: 'str' object does not support item assignment

In [109]:
S+'hello'

'Pythonhello'

In [110]:
S

'Python'

In [111]:
L = [1, 2, 3, 4] # list
L[2] = 5
L

[1, 2, 5, 4]

In [112]:
L.append(5)
L

[1, 2, 5, 4, 5]

In [113]:
T = (1, 2, 3, 4) # Tuple
T + (6, 7)
T

(1, 2, 3, 4)

In [114]:
T[2] = 5

TypeError: 'tuple' object does not support item assignment

In [115]:
D = {'a': 1, 'b':2, 'c':3} # dictionary
D['d'] = 4
D['a'] = 3
D

{'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [116]:
S1 = {1, 2, 3, 4}
S1.add(5)
S1

{1, 2, 3, 4, 5}

As we see from the above examples, The value of an object may or may not be changed. 

If the value can be changed, we say that the object is **mutable**. If it cannot be changed, we say that the object is **immutable**.

* **mutable**: lists, dictionaries, sets
* **immutable**: numbers, strings, tuples

For immutable objects, all the operation produce a new object as its results, but the original objects are never changed

In [117]:
S = 'xyz'
S+'abc'
S

'xyz'

Immutable objects can not be changed in place after they are created, but you can always build a new one and assign it to the same name.

In [118]:
S = 'xyzabc'
S

'xyzabc'

| Non-Collection | Collection  |
|----------------|-------------|
| Numbers        | Strings     |
|                | Lists       |
|                | Tuples      |
|                | Dictionaries|
|                | Sets        |

|Sequenced       | Unordered   |
|----------------|-------------|
| Dictionaries   | Strings     |
|  Sets          | Lists       |
|                | Tuples      |

| Immutable      | Mutable   |
|----------------|-------------|
| Numbers        | Lists       |
| Strings        | Dictionaries|
| Tuples         | Sets        |